template(name='records')
  .title-crumbs
    .page-title
      h2 
        a(href="#{harvestUrl}")
          i.fa.fa-caret-left
        | Records for
        = harvest.name
    .page-breadcrumbs
      | / 
      a(href="#{harvestUrl}")
        = harvest.name
      | / Records
  .records.resource
    .container
      .row
        .box.col-md-3.col-xs-12
          h3.green
            i.fa.fa-file
            span Records
            span.badge= recordsCount
        .box.col-md-3.col-xs-12
          h3.murple
            i.fa.fa-cloud
            span Services
            span.badge= servicesCount
        .box.col-md-3.col-xs-12
          h3.red
            i.fa.fa-warning
            span Errors
            span.badge= errorCount
      .row
        .box.box-tabular.col-xs-12
          +tabular selector=selector table=recordsTable class="table table-striped"

template(name="recordsServicesCell")
  a.collapse-services(href='#')
    = recordServices
    | Services
  .services.collapse
    ul
      each services
        li
          a(href=service_url target='_blank')= service_type

template(name="recordsErrorCell")
  a.collapse-errors(href='#')
    = recordErrors
    | Errors
  .errors.collapse
    ul
      each validation_errors
        li
          = line_number
          |:
          = error

template(name="recordsLink")
  a(href=url target="_blank")
    i.fa.fa-file(title="Link to the original document")


template(name="recordsCKANLink")
  if record_url
    a(href="{{getCatalogURL}}" target="_blank")
      img.ckan-logo(alt="CKAN Logo" src="{{absoluteUrl 'images/logo-ckan.svg'}}" title="Link to the CKAN record")
  else
    i.fa.fa-exclamation(title="There was an error processing this record")


template(name="recordsWAFLink")
  if record_url
    a(href=record_url target="_blank")
      i.fa.fa-file-code-o(title="Link to the record in the central WAF")
  else
    i.fa.fa-exclamation(title="There was an error processing this record")



template(name="recordsDescription")
  if expanded
    = description
  else
    = shortDescription
    if needsExpand
      .pull-right
        a(href="#" onclick="return null;") (Full)
