template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests Dashboard
    .page-breadcrumbs
      | / Harvests
  .harvests
    .row
      .box.box-3
        h3.blue
          i.fa.fa-database
          span Data Sources 
          span.badge 3

      .box.box-3
        h3.green
          i.fa.fa-file
          span Records
          span.badge 25
      .box.box-3
        h3.murple
          i.fa.fa-flag
          span Notifications
          span.badge 0
      .box.box-3
        h3.red
          i.fa.fa-warning
          span Errors
          span.badge 0
    .row
      .box.box-6.box-table
        table.table.table-hover
          thead
            tr
              th Name
              th Organization
              th URL
              th Type
          tbody
            +each harvests
              if active
                tr.active
                  td= name
                  td= organization
                  td 
                    a(href="#" onclick="return null;")
                      = url
                  td= type
              else
                tr
                  td= name
                  td= organization
                  td 
                    a(href="#" onclick="return null;")
                      = url
                  td= type


      .box.box-6
        h3= activeHarvest.name
        img(src="/images/piechart.png" alt="Pie Chart")


