template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests Dashboard
        a#new-harvest(href="#")
          | &nbsp;&nbsp;+
    .page-breadcrumbs
      | / Harvests
  .harvests
    +dashboardHeading
    .row
      .box.box-6.box-table
        +harvestsTable

      .box.box-6
        if editMode
          +harvestEdit
        else
          +harvestChart

template(name="dashboardHeading")
  .row.box-header
    .box.box-3
      h3.blue
        i.fa.fa-database
        span Data Sources 
        span.badge 3

    .box.box-3
      h3.green
        i.fa.fa-file
        span Records
        span.badge 25
    .box.box-3
      h3.murple
        i.fa.fa-flag
        span Notifications
        span.badge 0
    .box.box-3
      h3.red
        i.fa.fa-warning
        span Errors
        span.badge 5

template(name="harvestRow")
  td= name
  td= organization
  td 
    a(href="#" onclick="return null;")
      = url
  td= harvest_type

template(name="harvestsTable")
  table.table.table-hover
    thead
      tr
        th Name
        th Organization
        th URL
        th Type
    tbody
      +each harvests
        if active
          tr.active
            +harvestRow
        else
          tr
            +harvestRow

template(name="harvestChart")
  h3= activeHarvest.name
  #chart
    svg

template(name="harvestEdit")
  .harvest-edit-form
    h2 New Harvest
    +autoForm id="harvestEdit" schema=formSchema type="method" meteormethod="harvests.insert"
      +afQuickFields
      .button-group
        button.btn.btn-primary(type="submit") Submit
        button#cancel-btn.btn.btn-default(type="button") Cancel
